.sidebar{
background:#1d142c;
}

/* SUBMENU */

.submenu{
display:none;
margin-left:28px;
border-left:1px solid #4c3a6d;
padding-left:12px;
margin-top:4px;
}

.submenu li{
margin:6px 0;
}

.submenu a{
font-size:14px;
color:#bfb3d9;
display:block;
}

.submenu a:hover{
color:#c084fc;
}
