{% extends 'master.html' %}
{% block content %}

<h3>My Cart</h3>

{% if session_cart %}
  {% for id, item in session_cart.items %}
    <p>{{ item.name }} – ₹{{ item.price }} × {{ item.quantity }}</p>
    <a href="{% url 'remove_from_cart' id %}">Remove</a>
  {% endfor %}
  <h4>Total: ₹{{ total }}</h4>

{% elif db_cart %}
  {% for item in db_cart.items.all %}
    <p>{{ item.product.name }} – ₹{{ item.product.price }} × {{ item.quantity }}</p>
    <a href="{% url 'remove_from_cart' item.product.id %}">Remove</a>
  {% endfor %}
  <h4>Total: ₹{{ db_cart.total_price }}</h4>

{% else %}
  <p>Your cart is empty</p>
{% endif %}

<a href="{% url 'checkout' %}">Checkout</a>

{% endblock %}
