{% extends "master.html" %}
{% block title %}Checkout | Bakeora{% endblock %}

{% block content %}
<section class="py-5 mt-5">
  <div class="container">
    <div class="row justify-content-center">

      <div class="col-md-7">

        <h4 class="fw-bold mb-4">Checkout</h4>

        <form method="post" class="card p-4 shadow-sm">
          {% csrf_token %}

          <!-- EMAIL -->
          <div class="mb-3">
            <label class="form-label">Email</label>
            <input type="email" class="form-control"
                   value="{{ request.user.email }}" readonly>
          </div>

          <!-- DELIVERY -->
          <h6 class="fw-bold mt-4">Delivery</h6>

          <div class="row">
            <div class="col-md-6 mb-3">
              <input class="form-control" placeholder="First name" required>
            </div>
            <div class="col-md-6 mb-3">
              <input class="form-control" placeholder="Last name" required>
            </div>
          </div>

          <div class="mb-3">
            <input class="form-control" placeholder="Address" required>
          </div>

          <div class="row">
            <div class="col-md-4 mb-3">
              <input class="form-control" placeholder="City" required>
            </div>
            <div class="col-md-4 mb-3">
              <input class="form-control" placeholder="State" required>
            </div>
            <div class="col-md-4 mb-3">
              <input class="form-control" placeholder="PIN Code" required>
            </div>
          </div>

          <div class="mb-4">
            <input class="form-control" placeholder="Phone" required>
          </div>

          <!-- PAYMENT -->
          <h6 class="fw-bold">Payment</h6>
          <div class="border rounded p-3 mb-4">
            <div class="form-check">
              <input class="form-check-input" type="radio" checked>
              <label class="form-check-label">
                Razorpay (UPI, Cards, Netbanking)
              </label>
            </div>
          </div>

          <button class="btn order-btn w-100">
            Pay Now
          </button>

        </form>

      </div>

    </div>
  </div>
</section>
{% endblock %}
