{% load static %}
{% load socialaccount %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login | Bakeora</title>

    <link
        href="https://fonts.googleapis.com/css2?family=Playfair+Display:wght@500;700&family=Poppins:wght@300;400;500&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/log_reg.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">

</head>

<body class="lux-split-body">

<div class="lux-split-card">

  <!-- LEFT DESIGN PANEL -->
<div class="lux-left-panel">
  <div class="lux-left-inner">

<a href="{% url 'login' %}" class="pill-link">
  <div class="lux-pill active">LOGIN</div>
</a>

<a href="{% url 'register' %}" class="pill-link">
  <div class="lux-pill">SIGN UP</div>
</a>


  </div>
</div>


  <!-- RIGHT FORM PANEL -->
  <div class="lux-right-panel">

    <div class="lux-login-icon">
      <i class="fa-solid fa-user"></i>
    </div>

    <h2>Login</h2>

    <form method="POST" action="{% url 'login' %}">
      {% csrf_token %}

      {% if messages %}
        {% for message in messages %}
          <p class="error-msg">{{ message }}</p>
        {% endfor %}
      {% endif %}

      <div class="lux-input">
        <input type="text" name="username" placeholder="Email or Username" required>
      </div>

      <div class="lux-input">
        <input type="password" name="password" placeholder="Password" required>
      </div>

      <div class="lux-row">
        <a href="{% url 'password_reset' %}" class="forgot-link">Forgot password?</a>
        <button type="submit" class="lux-btn">LOGIN</button>
      </div>
    </form>

    <div class="lux-divider">Or login with</div>

    <div class="lux-social">
      <a href="{% provider_login_url 'google' %}" class="social-btn">
        <img src="{% static 'images/google.jpg' %}">
        Google
      </a>
    </div>

    <p class="signup-text">
      New to Bakeora?
      <a href="{% url 'register' %}">Sign up</a>
    </p>

  </div>
</div>

</body>


</html>