{% extends "base.html" %}
{% load static %}
{% block content %}

<section class="bakeora-notifications">
  <div class="container">

    <div class="notification-header mb-4">
      <h2 class="notification-title">My Notifications</h2>
      <p class="notification-subtitle">
        Stay updated with your orders, payments and custom cake requests.
      </p>
    </div>

    {% if notifications %}

      <div class="notification-wrapper">

        {% for notif in notifications %}
        <div class="notification-card 
            {% if 'EMERGENCY' in notif.title %}
              notif-emergency
            {% elif notif.is_read %}
              notif-read
            {% else %}
              notif-unread
            {% endif %}">

          <div class="notification-top">
            <div class="notification-title-area">
              <h5>{{ notif.title }}</h5>

              {% if not notif.is_read %}
                <span class="notif-badge">NEW</span>
              {% endif %}
            </div>

            <small class="notif-date">
              {{ notif.created_at|date:"M d, Y H:i" }}
            </small>
          </div>

          <p class="notification-message">
            {{ notif.message }}
          </p>

        </div>
        {% endfor %}

      </div>

    {% else %}

      <div class="no-notification-card text-center">
        <i class="bi bi-bell-slash"></i>
        <p>No notifications yet</p>
      </div>

    {% endif %}

  </div>
</section>

<script>
setInterval(function () {
  fetch("{% url 'notification_count' %}")
    .then(response => response.json())
    .then(data => {

      const badge = document.querySelector(".notification-badge");

      if (data.count > 0) {
        if (badge) {
          badge.textContent = data.count;
        } else {
          const wrapper = document.querySelector(".notification-icon-wrapper");
          const span = document.createElement("span");
          span.className = "notification-badge";
          span.textContent = data.count;
          wrapper.appendChild(span);
        }
      } else {
        if (badge) badge.remove();
      }
    });
}, 5000);  // every 5 seconds
</script>

{% endblock %}