<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reset Email | Bakeora</title>
</head>

<body>
    <p>Hi {{ user.first_name|default:"Customer" }},</p>

    <p>
        We received a request to reset your Bakeora account password.
    </p>

    <p>
        <a href="{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}">
            Reset your password
        </a>
    </p>

    <p>
        If you did not request this, please ignore this email or contact support.
    </p>

    <p>
        — Bakeora Security Team
    </p>

</body>

</html>