{% load static %}
{% load socialaccount %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Register | Bakeora</title>

  <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:wght@500;700&family=Poppins:wght@300;400;500&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="{% static 'css/log_reg.css' %}">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
</head>

<body class="lux-split-body">

<div class="lux-split-card-reg">

  <!-- LEFT PANEL -->
  <div class="lux-left-panel">
    <div class="lux-left-inner">

      <a href="{% url 'login' %}" class="pill-link">
        <div class="lux-pill">LOGIN</div>
      </a>

      <a href="{% url 'register' %}" class="pill-link">
        <div class="lux-pill active">SIGN UP</div>
      </a>

    </div>
  </div>

  <!-- RIGHT PANEL -->
  <div class="lux-right-panel">

    <div class="lux-login-icon">
      <i class="fa-solid fa-user-plus"></i>
    </div>

    <h2>Sign Up</h2>

    <form method="POST">
      {% csrf_token %}

      <div class="lux-input">
        <input type="text" name="username" placeholder="Username" required>
      </div>

      <div class="lux-input">
        <input type="email" name="email" placeholder="Email" required>
      </div>

      <div class="lux-input">
        <input type="password" name="password" placeholder="Password" required>
      </div>

      <div class="lux-row" style="justify-content:flex-end;">
        <button type="submit" class="lux-btn">
          CREATE ACCOUNT
        </button>
      </div>

    </form>

    <div class="lux-divider">Or sign up with</div>

    <div class="lux-social">
      <a href="{% provider_login_url 'google' %}" class="social-btn">
        <img src="{% static 'images/google.jpg' %}">
        Google
      </a>
    </div>

    <p class="signup-text">
      Already have an account?
      <a href="{% url 'login' %}">Login</a>
    </p>

  </div>

</div>

</body>
</html>
